/* App.css */

/* Style for the grid container */
.grid {
  /* Center the grid items horizontally */
  justify-content: center;
}

/* Style for each card */
.bg-white {
  /* Add shadow to the cards */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

/* Style for the banner image */
.rounded-lg {
  /* Add rounded corners to the images */
  border-radius: 0.5rem;
}

/* Style for the tag */
.text-indigo-500 {
  /* Change tag color to indigo */
  color: #4f46e5;
}

/* Style for the title */
.font-semibold {
  /* Make the title bold */
  font-weight: 600;
}

/* Style for the author */
.text-gray-900 {
  /* Change author name color to dark gray */
  color: #374151;
}

/* Style for the author's profile photo */
.rounded-full {
  /* Make the profile photo round */
  border-radius: 50%;
}
/* CareerOpenings.css */
.container {
  padding-top: 80px; /* Adjust as needed */
  padding-bottom: 20px; /* Adjust as needed */
}
/* Card.css */
.upload-cv-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 4%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.upload-cv-button:hover {
  background-color: #45a049;
}

.container {
  margin-left: auto; /* Center the container */
  margin-right: auto; /* Center the container */
  max-width: 1200px; /* Set maximum width for the container */
}

.container-padding {
  padding-left: 20px; /* Add left padding */
  padding-right: 20px; /* Add right padding */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
  .container-padding {
    padding-left: 10px; /* Reduce left padding for smaller screens */
    padding-right: 10px; /* Reduce right padding for smaller screens */
  }
}