.bodyC{
  width: 100%;
	height: auto;
	background-image: url(register1.png);
	background-position: center;
	background-size: cover;
}
.regContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px 50px;
    
}
.formContainer{
    max-width: 700px;
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 40px 30px;
    color: black;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .formContainer .title{
    font-size: 30px;
    position: relative;
  }
  
  .formContainer form .userDetail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .userDetail .inputBox{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .inputBox span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .userDetail .inputBox input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 2px solid #ccc;
    transition: all 0.3s ease;
  }
  .userDetail .inputBox input:focus,
  .userDetail .inputBox input:valid{
    border-color: orangered;
  }
   form .genderDetails .genderTitle{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 1px solid transparent;
    transition: all 0.3s ease;
  }
   #dot1:checked ~ .category label .One,
   #dot2:checked ~ .category label .Two{
     background: orangered;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 15px 0px;
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 20px;
     font-weight: bold;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: orangered;
   }
   form .button input:hover{
    background: rgb(255, 120, 67);
    }

    .haveAccount span{
        color: orangered;
        font-weight: bold;
    }
   @media(max-width: 584px){
   .formContainer{
    max-width: 100%;
  }
  .bodyC{
    width: 100%;
	height: auto;
	background: rgb(0, 153, 255);
}
.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 40px;
    
}
  form .userDetails .inputBox{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .userDetails{
      max-height: 300px;
      overflow-y: scroll;
    }
    .userDetails::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .formContainer .content .category{
      flex-direction: column;
    }
  }