.title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3%;
}
.accountContainer{
    padding: 40px;
    box-shadow: 3px 6px 10px rgba(0,0,0,0.25);
  }
  .accountContainer form .userDetail2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .userDetail2 .inputBox{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .userDetail3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .userDetail3 .inputBox{
    width: 100%;
  }
  .inputboxlocation{
    width: 30%;
  }
  .inputboxlocation select{
     height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
    padding-left: 15px;
    border: 2px solid #ccc;
    transition: all 0.3s ease;
  }
  .inputboxlocation select:focus,
  .inputboxlocation select:valid{
    border-color: orangered;
  }
  .custom-select {
    appearance: none; 
    padding: 8px 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #fff; 
}

.custom-select option {
    background-color: #fff; 
    border-radius: 5px;
}
  form .inputBox span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .userDetail3 .inputBox input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 2px solid #ccc;
    transition: all 0.3s ease;
  }
  .userDetail3 .inputBox input:focus,
  .userDetail3 .inputBox input:valid{
    border-color: orangered;
  }
  /* input box 2 */
  .accountContainer form .userDetail2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .userDetail2 .inputBox{
    margin-bottom: 15px;
    width: 100%;
  }
  form .inputBox span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .userDetail2 .inputBox input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 2px solid #ccc;
    transition: all 0.3s ease;
  }
  .gendeTitle{
    font-size: 17px;
  }
  .updateButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background: orangered;
    padding: 10px 30px;
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
    margin: auto;
    margin-top: 5%;
  }
 .updateButton:hover{
    background: rgb(255, 120, 67);
 }

 /* password container */

 .passwordContainer{
    flex: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px 40px;
    box-shadow: 3px 6px 10px rgba(0,0,0,0.55);
 }
 .passTitle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3%;
 }
 .userAccountContainer{
  background-color: rgb(220, 239, 255);
 }